# Python environment
venv/
env/
.env
myenv/
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
*.db
postgress_data/

# Machine Learning & Data
.ipynb_checkpoints/
*.csv
*.pkl
*.joblib

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# FastAPI / Logs
*.log
.pytest_cache/
